VITE_MAPID_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_MAPID_BASEMAP_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

VITE_MAPID_BLOCK_LAYER_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_MAPID_BLOCK_PROJECT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

VITE_MAPID_ESTATE_LAYER_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_MAPID_ESTATE_PROJECT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

VITE_MAPID_PRODUCTION_LAYER_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_MAPID_PRODUCTION_PROJECT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

VITE_MAPID_FERTILIZER_LAYER_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_MAPID_FERTILIZER_PROJECT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

VITE_MAPID_LSU_LAYER_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_MAPID_LSU_PROJECT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
